

<div class="container-fluid">
        <div class="row">
                <div class="col-sm-4" *ngFor="let foto of listaFotos"> 
                    <painel titulo="{{ foto.titulo }}">
                        <foto url="{{foto.url}}" titulo="Mentes Sombrias"></foto>
                    </painel>    
                </div>
    </div>
</div>

