<div class="jumbotron">
  Cadastro de fotos : {{animal|json}}
</div>

<div class="container">
<div class="row">
  <div class="col-sm-7" style="border: 1px  solid">
      <form   (submit)="submitForm($event)"  name="form1">
          <div class="form-group">
            <label>Titulo:</label>
            <input type="text" placeholder="Titulo" class="form-control" [(ngModel)]="animal.titulo" name="titulo" />
          </div>
    
          <div class="form-group">
            <label for="url">URL:</label>
            <input type="text" placeholder="URL" class="form-control" [(ngModel)]="animal.url" name="url" id="url" />
          </div>
    
          <div class="form-group">
            <label>Descrição:</label>
            <textarea placeholder="Descrição" class="form-control" rows="5" [(ngModel)]="animal.descricao" name="descricao">
                </textarea>
          </div>
    
          <div class="form-group">
              <button type="button" onclick="form1.submit()" class="btn btn-primary btn-lg">Dark</button>
          </div>     
      </form>
  </div>
  <aside class="col-sm-5" style="border: 1px  solid">
      aqui vai a foto
  </aside>
  </div>



  

</div>