<!-- Painel Component -->
<div class="card" style="margin-bottom: 10px; ;">
    <div class="card-header">{{titulo}}</div>
    <div class="card-body">
        <ng-content></ng-content>
    </div>
</div>
