<!--The content below is only a placeholder and can be replaced.-->



        <nav class="navbar navbar-dark bg-dark navbar-expand-lg " style="margin-bottom: 10px">
                <div class="collapse navbar-collapse" id="navbarText">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item" routerlinkActive="active">
                      <a class="nav-link" routerLink="" >Home <span class="sr-only">(current)</span></a>
                    </li>
        
                    <li class="nav-item" routerlinkActive="active">
                            <a class="nav-link" routerLink="/cadastro" >Cadastro <span class="sr-only">(current)</span></a>
                    </li>
                  </ul>
                  <span class="navbar-text">
                    <h3>{{ title }} </h3>
                  </span>
                </div>
        </nav>


    <div class="container">
        <router-outlet></router-outlet>
    </div>






